game/build
vgui2/vgui_controls/Debug
vgui2/vgui_controls/Release
*.opensdf
*.sdf
*.suo
*.user
*.pyc
*.obj
*.pch
*.log
/lib/public/vgui_controls*
ipch
desktop.ini
utils/boost_1_53_0/
*.vsp
*.zip
linux_sdk/Makefile.Server*
linux_sdk/release/
utils/python/python26/PCbuild/Win32*
utils/python/python26/PCbuild/obj/
utils/python/python26/bin/
python/
linux_sdk/vcpm
*.vdf
linux_sdk/server_i486.so
mathlib/Release/
python/
lib/gtest/ServerTest*
