# Visual Studio 
*.suo
*.user
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
*.pdb
ipch
*.sdf
*.opensdf
*.idb

# Windows build products
[Dd]ebug*/
[Rr]elease*/
game/build
desktop.ini

lib/public/**/vgui_controls.*
lib/python/**/boost_python.*

linux_sdk/Makefile.Server*
linux_sdk/release
linux_sdk/vcpm
linux_sdk/server_i486.so
*.vdf

lib/gtest/ServerTest*
